.container {
  width: 100%;
  height: 93vh; /* Altura total da janela */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  width: 300px; /* Defina a largura conforme necessário */
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os inputs */
}

.button {
  padding: 10px;
}

footer {
  text-align: center;
}

input {
  padding: 5px;
  width: 100%; /* Ajusta a largura do input para ocupar todo o espaço disponível */
  box-sizing: border-box; /* Inclui o padding na largura total do input */
}

.button {
  padding: 10px;
  text-align: center; /* Centraliza o botão dentro do seu contêiner */
}

button {
  padding: 15px 30px; /* Aumenta o tamanho do botão com mais espaço interno */
  font-size: 16px; /* Aumenta o tamanho da fonte para destacar o texto do botão */
  color: white; /* Define a cor do texto como branco */
  background-color: #007bff; /* Cor de fundo do botão (azul) */
  border: none; /* Remove qualquer borda padrão */
  border-radius: 25px; /* Torna as bordas do botão arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  transition: background-color 0.3s ease; /* Animação suave para mudança de cor */
}

button:hover {
  background-color: #0056b3; /* Muda a cor do fundo quando o botão é "hovered" */
}
